@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: column;
}
  
div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

nav.navbar {
    position: sticky;
    top: 0px;
    z-index: 1;
}
  
a.navbar-brand {
    font-family: 'Amatic SC';
    /* opacity: 89%; */
    font-weight: bold;
}
  
a.nav-link {
    font-family: 'Amatic SC';
    color: snow;
    font-weight: bold;
    text-decoration: snow;
    font-size: 2rem
}

a.navbar-brand:hover {
    transform: scale(1.15);
}
  
a.nav-link:hover {
    transform: scale(1.15);
}