@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6c757d;
  background-image: url(./img/yellowstonei.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position:relative; 
  padding-bottom:[footer-height];
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}