.jumbotronMain{
    height: 300px; 
    width: 100%;
    padding-top: 10; 
    text-align: center;
}

.header-text {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    font-size: 5rem;
}