@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

div.jumbotron {
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 90px;
    font-weight:bolder;
    color: snow;
}
  
h2 {
    text-align: center;
    font-family: 'Amatic SC';
    font-size:xx-large;
    font-weight:bolder;
    color: snow;
    /* opacity: 89%; */
    /* padding-left: 30px;
    padding-right: 30px;
    margin: 10px; tb */
}