@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

h2.text-left {
    /* text-align: center; */
    font-family: 'Amatic SC';
    font-size:xx-large;
    font-weight:bolder;
    color: snow;
}

.postTitle {
    font-family: 'Amatic SC';
    font-size: 1.5rem;
}

.postTime {
    font-family: 'Amatic SC';
    font-size: 1.5rem;
}

div.card {
    background-color: #212925;
    opacity: 78%;
}
