@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

h3:hover {
    transform: scale(1.15);
}

.form-group {
    font-family: 'Amatic SC';
    text-align: center;
    color: snow;
}

.submitBtn {
    font-family: 'Amatic SC';
    color: snow;
}