@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

h2 {
    text-align: center;
    font-family: 'Amatic SC';
    font-size:xx-large;
    font-weight:bolder;
    color: snow;
}

h3 {
    text-align: center;
    font-family: 'Amatic SC';
    font-size:xx-large;
    font-weight:bolder;
    color: snow;
}

h3.parkFullname {
    text-align: center;
    font-family: 'Amatic SC';
    font-size:xx-large;
    font-weight:bolder;
    color: snow;
}

h4.parkStates {
    text-align: center;
    font-family: 'Amatic SC';
    /* font-size:xx-large; */
    /* font-weight:bolder; */
    color: snow;
}

p.text-center {
    text-align: center;
    font-family: 'Amatic SC';
    /* font-size:xx-large; */
    /* font-weight:bolder; */
    color: snow;
}

.btn {
    width: 100%;
    font-family: 'Amatic SC'
};

div.card {
    background-color: #212925;
    opacity: 78%;
}

li.card-list {
    background-color: #212925;
    opacity: 78%;
}