@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

/* h1.text-center {
    text-align: center;
    font-family: 'Amatic SC';
    font-size:xx-large;
    font-weight:bolder;
    color: snow;
} */

div.jumbotron {
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 90px;
    font-weight:bolder;
    color: snow;
}

h2 {
    text-align: center;
    font-family: 'Amatic SC';
    /* font-size:xx-large; */
    /* font-weight:bolder; */
    color: snow;
}

p {
    text-align: center;
}

#parkName {
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 90px;
    font-weight:bolder;
    color: snow;
}

.half {
    background-color: #212925;
    opacity: 78%;
}