@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

#parkName {
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 90px;
    font-weight:bolder;
    color: snow;
}

.half {
    background-color: rgba(255, 255, 255, 0.6);
}