@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

div.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: column;
}
  
div.row-col-auto {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

div.jumbotron {
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 135px;
    font-weight:bolder;
    color: snow;
}
  
h2 {
    text-align: center;
    font-family: 'Amatic SC';
    font-size:xx-large;
    font-weight:bolder;
    color: snow;
    /* opacity: 89%; */
    /* padding-left: 30px;
    padding-right: 30px;
    margin: 10px; tb */
}

.signup {
    font-family: 'Amatic SC';
    font-size:x-large;
    font-weight: bold;
    color: snow;
    text-decoration: none;
}

.login {
    font-family: 'Amatic SC';
    font-size:x-large;
    font-weight: bold;
    color: snow;
    text-decoration: none;
}

a.signup:hover {
    transform: scale(1.065);
}

a.login:hover {
    transform: scale(1.065);
}